################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DashboardMicrocharts/v15
*.suo
/.vs/DashboardMicrocharts/DesignTimeBuild
/DashboardMicrocharts/bin/Debug/netstandard2.0
/DashboardMicrocharts/obj
/DashboardMicrocharts.Android/bin/Debug
/DashboardMicrocharts.Android/obj
*.user
/.vs
